<form (submit)="calcAmount()">
  <div class="box">
    <div class="label__box">
      <label>Количество километров</label>
    </div>
    <input name="klm" [(ngModel)]="klm">
  </div>
  <div class="box">
    <div class="label__box">
      <label>Возраст</label>
    </div>
    <input name="age" [(ngModel)]="age">
  </div>
  <div class="box">
    <div class="label__box">
      <label>Вес багажа</label>
    </div>
    <input name="weight" [(ngModel)]="weight">
  </div>
  <button type="submit">Рассчитать</button>
</form>

<p>Предложения:</p>

<table>
  <tr class="title">
    <td>Аэрофлот</td>
  </tr>
  <tr>
    <td>Эконом: {{economyAir}} <span>{{economyAirError}}</span></td>
  </tr>
  <tr>
    <td>Продвинутый: {{advancedAir}} <span>{{advancedAirError}}</span></td>
  </tr>
  <tr>
    <td>Люкс: {{luxAir}} <span>{{luxAirError}}</span></td>
  </tr>
</table>

<table>
  <tr class="title">
    <td>РЖД</td>
  </tr>
  <tr>
    <td>Эконом: {{economyRgd}} <span>{{economyRgdError}}</span></td>
  </tr>
  <tr>
    <td>Продвинутый: {{advancedRgd}} <span>{{advancedRgdError}}</span></td>
  </tr>
  <tr>
    <td>Люкс: {{luxRgd}} <span>{{luxRgdError}}</span></td>
  </tr>
</table>